<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Wine Analysis</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}" media="screen">

  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="col-xs-9 phone-nav">
                <a class="navbar-brand" href="/" id="logo">Home</a>
              </div>
            </div>
  
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right navbar-right-custom">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wine Tables <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/red_wine_data">Red Wine Table</a></li>
                    <li><a href="/white_wine_data">White Wine Table</a></li>
                   </ul>
                 </li>
                 <li><a href="/about">About</a></li>
                 <li><a href="/predictions">Predictions</a></li>
                 <li><a href="/visualizations">Visualizations</a></li>
                 <li><a href="/recommendations">Recommendations</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
        </div><!-- /.container-fluid -->
      </nav>
      <!-- End of navbar -->
        <!-- Start of container -->
        <div class="container">
            <section class="row">
              <div class="col-md-12">
                <article class="description-content">
                  <h1 class="description-header"><strong>About the Tables</strong></h1>
                  <hr class="description-hr"/>
                  <p><strong>Fixed Acidity:</strong> The predominant fixed acids found in wines are tartaric, malic, citric, and succinic.</p>
                  <p><strong>Tartaric acid:</strong> Tartaric acid is, from a winemaking perspective, the most important in wine due to the prominent role it plays in maintaining the chemical stability of the wine and its color and finally in influencing the taste of the finished wine.</p>
                  <p><strong>Malic acid:</strong> Malic acid, along with tartaric acid, is one of the principal organic acids found in wine grapes. It is found in nearly every fruit and berry plant, but is most often associated with green (unripe) apples, the flavor it most readily projects in wine. Its name actually come from the Latin malum meaning “apple”. In the grape vine, malic acid is involved in several processes which are essential for the health and sustainability of the wine.</p>
                  <p><strong>Succinic acid:</strong> Succinic acid is most commonly found in wine, but can also be present in trace amounts in ripened grapes. While concentration varies among grape varieties, it is usually found in higher levels with red wine grapes. The acid is created as a byproduct of the metabolization of nitrogen by yeast cells during fermentation.</DL></p>
                  <p><strong>Volatile Acidity:</strong> Volatile acidity refers to the steam distillable acids present in wine, primarily acetic acid but also lactic, formic, butyric, and propionic acids.</p>
                  <p><strong>Lactic acid:</strong> Lactic acid is a much milder acid than tartaric and malic acids. Lactic acid is often associated with “milky” flavors in wine and is the primary acid of yogurt and sauerkraut. It is produced during winemaking by lactic acid bacteria, which includes three genera: Oenococcus, Pediococcus and Lactobacillus. These bacteria convert both sugar and malic acid into lactic acid, the latter through MLF.</p>
                  <p><strong>Butyric acid:</strong> Butyric acid is a bacteria-induced wine fault that can cause wine to smell of spoiled Camembert or rancid butter. Sorbic acid is a winemaking additive used often in sweet wines as a preservative against fungi, bacteria and yeast growth. Unlike sulfur dioxide, it does not hinder the growth of the lactic acid bacteria.</p>
                  <p><strong>Citric acid:</strong> Citric acid while very common in citrus fruits, such as limes, citric acid is found only in very minute quantities in wine grapes. It often has a concentration about 1/20 that of tartaric acid. The citric acid most commonly found in wine is commercially produced acid supplements derived from fermenting sucrose solutions.</p>
                  <p><strong>Residual Sugar:</strong> Residual sugar (or RS) is from natural grape sugars leftover in a wine after the alcoholic fermentation finishes. It’s measured in grams per liter.</p>
                  <p><strong>Chlorides:</strong> This is the amount of salt in the wine.</p>
                  <p><strong>Free Sulfur Dioxide:</strong> The free form of SO2 exists in equilibrium between molecular SO2 (as a dissolved gas) and bisulfite ion; it prevents microbial growth and the oxidation of wine.</p>
                  <p><strong>Total sulfur dioxide:</strong> Simply put, Total Sulfur Dioxide (TSO2) is the portion of SO2 that is free in the wine plus the portion that is bound to other chemicals in the wine such as aldehydes, pigments, or sugars.</p>
                  <p><strong>Density:</strong> Density is an important measurement in wine making. Wine density values can be used for quality control parameters, filling volume determination for bottling, and much more. Density is defined as mass per volume. In wine, we report density as grams / milliliter (g/mL). When we take a deeper look at the components of wine, the main constituents affecting the density are alcohol, sugar, glycerol, and other dissolved solids.</p>
                  <p><strong>pH:</strong> Winemakers use pH as a way to measure ripeness in relation to acidity. Low pH wines will taste tart and crisp, while higher pH wines are more susceptible to bacterial growth. Most wine pH’s fall around 3 or 4; about 3.0 to 3.4 is desirable for white wines, while about 3.3 to 3.6 is best for reds.</p>
                  <p><strong>Sulphates:</strong> The term sulfites is an inclusive term for sulfur dioxide (SO2), a preservative that’s widely used in winemaking (and most food industries) for its antioxidant and antibacterial properties. SO2 plays an important role in preventing oxidization and maintain a wine’s freshness.</p>
                  <p><strong>Alcohol:</strong> This simply refers to the ABV (alcohol by volume) of a particular wine. The average glass of wine contains around 11% to 13% alcohol, but bottles range from as little as 5.5% ABV to as much as around 20% ABV.</p>
                </article>
              </div>

              <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>