<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Wine Analysis</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}" media="screen">

  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="/" id="logo">Home</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wine Tables <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <li><a href="/red_wine_data">Red Wine Table</a></li>
                 <li><a href="/white_wine_data">White Wine Table</a></li>
                </ul>
              </li>
              <li><a href="/about">About</a></li>
              <li><a href="/predictions">Predictions</a></li>
              <li><a href="/visualizations">Visualizations</a></li>
             <!-- <li><a href="/recommendations">Recommendations</a></li>-->
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div class="col-md-12">
          <article class="description-content">
            <h1 class="description-header">Summary: White Wine Vs. Red Wine</h1>
            <hr class="description-hr"/>
            <p>The two datasets are related to red and white variants of the Portuguese "Vinho Verde" wine. For more details, consult: http://www.vinhoverde.pt/en/ or the reference [Cortez et al., 2009]. Due to privacy and logistic issues, only physicochemical (inputs) and sensory (the output) variables are available (e.g. there is no data about grape types, wine brand, wine selling price, etc.).</p>
            <p>These datasets can be viewed as classification or regression tasks. The classes are ordered and not balanced (e.g. there are much more normal wines than excellent or poor ones). Outlier detection algorithms could be used to detect the few excellent or poor wines. Also, we are not sure if all input variables are relevant. So it could be interesting to test feature selection methods.</p>
            <br>
            <h1 class="description-header"> Number of Instances</h1>
            <hr class="description-hr"/>
            <p> Red wine - 1599; White wine - 4898.</p>
            <br>
            <h1 class="description-header"> Number of Attributes</h1>
            <hr class="description-hr"/>
            <p>11 + output attributes</p>
            <p>Note: Several of the attributes may be correlated, thus it makes sense to apply some sort of feature selection.</p>
            <br>
            <h1 class="description-header">Attribute information</h1>
            <hr class="description-hr"/>
            <p>For more information, read [Cortez et al., 2009].
            <p>  For more information, read [Cortez et al., 2009].
              Input variables (based on physicochemical tests): 1 - fixed acidity (tartaric acid - g / dm^3) 2 - volatile acidity (acetic acid - g / dm^3) 3 - citric acid (g / dm^3) 4 - residual sugar (g / dm^3) 5 - chlorides (sodium chloride - g / dm^3 6 - free sulfur dioxide (mg / dm^3) 7 - total sulfur dioxide (mg / dm^3) 8 - density (g / cm^3) 9 - pH 10 - sulphates (potassium sulphate - g / dm3) 11 - alcohol (% by volume) Output variable (based on sensory data): 12 - quality (score between 0 and 10)</p>
          </article>
        </div>
      </section>
    </div>
    <!-- End of container -->

      <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>

</html>
