<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Wine Analysis</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}" media="screen">

  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="/" id="logo">Home</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wine Tables <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <<li><a href="/red_wine_data">Red Wine Table</a></li>
                 <li><a href="/white_wine_data">White Wine Table</a></li>
                </ul>
              </li>
              <li><a href="/about">About</a></li>
              <li><a href="/predictions">Predictions</a></li>
              <li><a href="/visualizations">Visualizations</a></li>
             <!-- <li><a href="/recommendations">Recommendations</a></li>-->
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

<!-- Start of container -->
    <div class="container">
      <article class="description-content row">
        <div class="col-xs-12">
          <h1 class="description-header",align="center">Visualization Plots</h1>
          <hr class="description-hr"/>
        </div>
        <div class="col-md-12">
          <h2 class="comparison-header">Pair Plot</h2>
          <a href="{{ url_for('static', filename = 'Images/PairPlot.png') }}"> <img src="../static/Images/PairPlot.png" alt="Pair Plot" class="comparison-image img-responsive"></a>
          <hr class="visible-xs visible-sm">
        </div>
        <div class="col-md-12">
          <h2 class="comparison-header">Heatmap</h2>
          <a href="{{ url_for('static', filename = 'Images/Heatmap.png') }}"> <img src="../static/Images/Heatmap.png" alt="Heatmap" class="comparison-image img-responsive"></a>
          <hr class="visible-xs visible-sm">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Citric Acid and pH</h2>
          <a href="{{ url_for('static', filename = 'Images/Citric_Acid_and_pH.png') }}"></a><img src="../static/Images/Citric_Acid_and_pH.png" alt="Citric Acid and pH" class="comparison-image img-responsive">
          <hr class="visible-xs visible-sm">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">pH and Fixed Acidity</h2>
          <a href="{{ url_for('static', filename = 'Images/pH_and_Fixed_Acidity.png') }}"></a><img src="../static/Images/pH_and_Fixed_Acidity.png" alt="pH and Fixed Acidity" class="comparison-image img-responsive">
          <hr class="visible-xs visible-sm">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Fixed Acidity and Citric Acid</h2>
          <a href="{{ url_for('static', filename = 'Images/Fixed_Acidity_and_Citric_Acid.png') }}"></a><img src="../static/Images/Fixed_Acidity_and_Citric_Acid.png" alt="Fixed Acidity and Citric Acid" class="comparison-image img-responsive">
          <hr class="visible-xs visible-sm">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Density and Alcohol</h2>
          <a href="{{ url_for('static', filename = 'Images/Density_and_Alcohol.png') }}"></a><img src="../static/Images/Density_and_Alcohol.png" alt="Density and Alcohol" class="comparison-image img-responsive">
          <hr class="visible-xs visible-sm">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Density and Fixed Acidity</h2>
          <a href="{{ url_for('static', filename = 'Images/Density_and_Alcohol.png') }}"></a><img src="../static/Images/Density_and_Alcohol.png" alt="Density and Fixed Acidity" class="comparison-image img-responsive">
          <hr class="visible-xs visible-sm">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Volatile Acidity and Citric Acid</h2>
          <a href="{{ url_for('static', filename = 'Images/Volatile_Acidity_and_Citric_Acid.png') }}"></a><img src="../static/Images/Volatile_Acidity_and_Citric_Acid.png" alt="Volatile Acidity and Citric Acid" class="comparison-image img-responsive">
          <hr class="visible-xs visible-sm">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Comparison of R2 Score of Algorithms</h2>
          <a href="{{ url_for('static', filename = 'Images/Comparison_of_R2_Score_of_algorithms.png') }}"></a><img src="../static/Images/Comparison_of_R2_Score_of_algorithms.png" alt="Comparison of R2 Score of Algorithms" class="comparison-image img-responsive">
          <hr class="visible-xs visible-sm">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Free Sulfur Dioxide and Total Sulfur Dioxide</h2>
          <a href="{{ url_for('static', filename = 'Images/Free_Sulfur_Dioxide_and_Total_Sulfur_Dioxide.png') }}"></a><img src="../static/Images/Free_Sulfur_Dioxide_and_Total_Sulfur_Dioxide.png" alt="Free Sulfur Dioxide and Total Sulfur Dioxide" class="comparison-image img-responsive">
          <hr class="visible-xs visible-sm">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Wine Quality</h2>
          <a href="{{ url_for('static', filename = 'Images/WineQuality.png') }}"></a><img src="../static/Images/WineQuality.png" alt="Wine Quality" class="comparison-image img-responsive">
          <hr class="visible-xs visible-sm">
        </div>


      </article>
    </div>
    <!-- End of container  -->
          <!-- jQuery CDN -->
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

          <!-- Bootstrap CDN -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        </body>
      
      </html>